/* Styles globaux */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles pour les liens */
a {
  color: #3182ce; /* Couleur bleue */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}